* {
  margin: 0;
}

.headerItems {
  display: flex;
  align-items: center;
}

.container {
  position: fixed;
  margin-top: 25px;
  width: 100%;
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}