.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  font-family: "Roboto","Helvetica","Arial","sans-serif";

  h2 {
    text-transform: uppercase;
    color: rgb(25, 118, 210);
  }
  .inputs {
    width: 100%;
    margin: 15px 0 0;
    text-align: center;
  }

  .submitBtn {
    input {
      outline: none;
      border: 1px solid transparent;
      border-radius: 5px;
      background-color: transparent;

      text-transform: uppercase;
      font-size: 1rem;

      padding: 10px 20px;
      color: rgb(25, 118, 210);

      cursor: pointer;
      transition: .3s;
    }

    input:hover {
      background-color: rgb(212, 226, 255);
    }
  }

  .errorMessage {
    color: #af0202;
    font-size: 13px;
    margin: 0 0 10px;
  }
}